<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class = "about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt porro molestias sint delectus voluptas commodi numquam laboriosam placeat nostrum, nihil illum cum consequuntur earum distinctio repellendus officiis necessitatibus cumque quas?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At quia eveniet sapiente non possimus ratione sequi nobis reiciendis totam perferendis, quidem cupiditate facilis cum consectetur animi ad. Consequatur, tenetur quia?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, eveniet nisi illo voluptatem ex saepe illum qui eos praesentium quis corrupti ab hic adipisci! Accusantium tempora voluptates corporis eveniet repellendus?</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>